.advantages {
  background-color: $color-alice-blue-100;

  &__wrapper {
    padding: 120px 0;
    max-width: 1202px;

    @include vp-1023 {
      padding: 78px 0;
      max-width: 670px;
    }

    @include vp-767 {
      padding: 50px 0;
      max-width: 270px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0;

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 30px 0;
    }
  }

  &__card {
    min-height: 300px;
    min-width: 595px;
    padding: 40px 40px 35px;
    list-style: none;
    border: 1px solid $color-whisper;
    border-left: 5px solid $color-deep-sky-blue;

    @include hover-focus {
      background-color: $color-deep-sky-blue;
      color: $color-alice-blue;

      svg {
        color: $color-alice-blue;
      }

      h3 {
        color: $color-alice-blue;
      }
    }

    @include active {
      background-color: $color-deep-sky-blue;
      color: $color-alice-blue;
      opacity: 0.8;

      svg {
        color: $color-alice-blue;
        opacity: 0.8;
      }

      h3 {
        color: $color-alice-blue;
        opacity: 0.8;
      }
    }

    @include vp-1023 {
      min-height: 360px;
      min-width: 320px;
      padding: 40px 30px 29px 40px;
    }

    @include vp-767 {
      min-height: 325px;
      min-width: 270px;
      padding: 30px 30px 35px 25px;
    }

    &--stopwatch {
      @include vp-767 {
        min-height: 340px;
      }
    }

    &--hired {
      @include vp-767 {
        min-height: 340px;
      }
    }

    svg,
    h3 {
      color: $color-deep-sky-blue;
      margin-bottom: 14px;

      @include vp-1023 {
        margin-bottom: 9px;
      }
    }

    svg {
      @include vp-767 {
        width: 30px;
        height: 30px;
      }
    }

    h3 {
      font-family: $roboto-condensed-regular;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      margin-top: 0;

      @include vp-767 {
        font-size: 20px;
        line-height: 28px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin: 0;

      @include vp-767 {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
