.footer {
  background-color: $color-black-pearl;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    color: $color-default-white;
    padding: 50px 17px 46px;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      padding: 50px 41px 50px 50px;
    }

    @include vp-767 {
      padding: 0;
    }
  }

  &__social {
    @include vp-1023 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include vp-767 {
      flex-direction: column;
      padding: 35px 55px 23px 50px;
      border-bottom: 1px solid $color-alice-blue-70;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
      padding-left: 10px;
      width: 160px;

      @include vp-1023 {
        margin-bottom: 35px;
        padding-left: 6px;
      }

      @include vp-767 {
        padding-left: 10px;
        margin: 0;
      }
    }

    li {
      list-style: none;

      &:not(:nth-child(3n)) {
        margin-right: 15px;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      min-height: 40px;
      color: $color-alice-blue-100;

      @include hover-focus {
        color: $color-deep-sky-blue;
      }

      @include active {
        color: $color-deep-sky-blue;
        opacity: 0.8;
      }
    }
  }

  &__logo {
    width: 215px;
    margin-bottom: 30px;

    @include vp-767 {
      margin-bottom: 15px;
    }
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
    padding-top: 7px;
    margin-left: 162px;

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      flex-direction: column;
      padding-top: 0;
    }
  }

  &__navigation {
    max-width: 470px;
    margin-right: 31px;

    @include vp-1023 {
      max-width: 220px;
      margin-right: 130px;
    }

    @include vp-767 {
      max-width: unset;
      width: 100%;
    }

    h3 {
      font-family: $roboto-condensed-regular;
      font-size: 15px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0 0 20px 0;
    }

    ul {
      columns: 2 auto;
      column-gap: 30px;
      padding: 0;
      margin: 0;

      @include vp-1023 {
        columns: unset;
      }
    }

    li {
      list-style: none;
      margin-bottom: 10px;

      &:nth-child(3) {
        break-after: avoid;
      }

      @include vp-767 {
        &:last-child {
          margin-bottom: 20px;
        }
      }
    }

    a {
      font-family: $ptmono-regular;
      color: $color-default-white;
      opacity: 0.7;

      @include hover-focus {
        color: $color-deep-sky-blue;
      }

      @include active {
        color: $color-deep-sky-blue;
        opacity: 0.8;
      }
    }
  }

  &__contacts {
    @include vp-767 {
      position: relative;
      padding-bottom: 5px;
      padding-top: 20px;
    }

    h3 {
      font-family: $roboto-condensed-regular;
      font-size: 15px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0 0 20px 0;
    }

    div {
      gap: 6px;

      @include vp-767 {
        flex-direction: row;
      }
    }

    p,
    a {
      font-family: $ptmono-regular;
      color: $color-default-white;
      opacity: 0.7;
      margin-bottom: 6px;
    }

    p {
      margin-top: 0;

      @include vp-767 {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 18px;
      }
    }

    a {
      display: block;
      line-height: 25px;

      @include vp-767 {
        font-size: 14px;

        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }

      @include hover-focus {
        color: $color-deep-sky-blue;
      }

      @include active {
        color: $color-deep-sky-blue;
        opacity: 0.8;
      }
    }
  }
}
