.form {
  color: $color-default-white;

  h2 {
    font-family: $roboto-condensed-regular;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 11px;

    @include vp-1023 {
      margin-bottom: 6px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 35px;

    @include vp-1023 {
      margin-bottom: 25px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
      flex-basis: 100%;
      margin-bottom: 34px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input {
    width: 48%;
    margin-bottom: 20px;

    @include vp-767 {
      width: 100%;
    }

    @include hover {
      input {
        border: 1px solid $color-default-white;
      }
    }

    @include focus {
      input {
        border: 1px solid $color-default-white;
      }
    }

    input {
      color: inherit;
      height: 50px;
      padding: 15px;
      width: 100%;
      background-color: $color-black-pearl-15;
      border: 1px solid transparent;
      border-radius: 3px;

      &::placeholder {
        color: inherit;
        line-height: 22px;
      }
    }
  }

  &__textarea {
    width: 100%;
    margin-bottom: 29px;

    @include vp-767 {
      margin-bottom: 25px;
    }

    @include hover {
      textarea {
        border: 1px solid $color-default-white;
      }
    }

    @include focus {
      textarea {
        border: 1px solid $color-default-white;
      }
    }

    textarea {
      color: inherit;
      background-color: $color-black-pearl-15;
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 25px 15px;
      resize: none;
      min-height: 155px;
      width: 100%;

      &::placeholder {
        color: inherit;
        line-height: 22px;
      }

      @include vp-1023 {
        padding: 32px 15px;
      }

      @include vp-767 {
        min-height: 180px;
        padding: 25px 15px;
      }
    }
  }

  &__toggle {
    width: 50%;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
    margin: 0;

    @include vp-767 {
      width: 100%;
    }

    input[type="checkbox"] + label {
      position: relative;
      display: flex;
      margin-top: 15px;
      padding-left: 53px;
      cursor: pointer;

      @include vp-1023 {
        margin-top: 10px;
        padding-left: 40px;
      }

      @include vp-767 {
        margin-top: 23px;
        padding-left: 31px;
      }

      @include hover {
        &::before {
          background-color: $color-black-pearl;
        }
      }

      @include active {
        &::before {
          background-color: $color-black-pearl;
          opacity: 0.7;
        }
      }

      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        top: 7px;
        left: 28px;
        border: 1px solid $color-default-white;
        border-radius: 2px;

        @include vp-1023 {
          left: 15px;
        }

        @include vp-767 {
          top: 8px;
          left: 5px;
        }
      }
    }

    input[type="checkbox"]:focus + label {
      &::before {
        background-color: $color-black-pearl;
      }
    }

    input[type="checkbox"]:checked + label {
      &::after {
        content: "";
        width: 7px;
        height: 4px;
        position: absolute;
        left: 31px;
        top: 11px;
        border-left: 1px solid $color-default-white;
        border-bottom: 1px solid $color-default-white;
        transform: rotate(-45deg);

        @include vp-1023 {
          left: 18px;
        }

        @include vp-767 {
          top: 12px;
          left: 8px;
        }
      }
    }
  }

  &__button {
    font-family: $roboto-condensed-bold;
    font-size: 16px;
    line-height: 19px;
    background-color: $color-black-pearl;
    border: 1px solid transparent;
    height: 45px;
    min-width: 265px;
    align-self: flex-start;
    justify-content: center;

    @include vp-767 {
      width: 100%;
    }

    @include hover-focus {
      background-color: $color-default-white;
      color: $color-black-pearl;
    }

    @include active {
      background-color: $color-default-white;
      color: $color-black-pearl;
      opacity: 0.7;
    }
  }

  &--popup {
    h2 {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 40px;
    }

    .form__input {
      width: 100%;
    }

    .form__textarea {
      margin-bottom: 20px;
    }

    .form__button {
      width: 100%;
    }

    .form__toggle {
      width: 100%;
    }

    input[type="checkbox"] + label {
      margin-top: 20px;
      padding-left: 34px;

      &::before {
        top: 0;
        left: 9px;
      }
    }

    input[type="checkbox"]:checked + label {
      &::after {
        top: 4px;
        left: 12px;
      }
    }
  }
}
