// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;
$color-black-pearl:                 #041827;
$color-black-pearl-background:      #192024;
$color-alice-blue:                  #f2f5f6;
$color-alice-blue-70:               rgba(248, 253, 255, 0.7);
$color-alice-blue-100:              #f8fdff;
$color-deep-sky-blue:               #00b2ff;

// Gradient

$black-to-bottom:                    linear-gradient(180deg, $color-black-pearl 85%, rgba(4, 24, 39, 0) 100%);
$black-to-bottom-background:         linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71%, rgba(25, 32, 36, 0) 100%);

// Typography
// ---------------------------------

$roboto-condensed-regular: "RobotoCondensed-Regular", "Arial Black", sans-serif;
$roboto-condensed-bold: "RobotoCondensed-Bold", "Arial Black", sans-serif;
$ptmono-regular: "PTMono-Regular", "Arial", sans-serif;

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-767:                            767px;
$vp-768:                            768px;
$vp-1023:                           1023px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
